<map-marker 
  ng-repeat="point in $ctrl.points track by $index" 
  marker="point" 
  info-window="true"
  draggable="true"
>
  <div ng-non-bindable>
    <div class="point-new-window" ng-submit="$ctrl.insertPoint()">
      <form name="pointAddForm">
        <h1>Point <span ng-bind="point.id"></span></h1>
        <div class="point-new-row">
          <!-- Hidden value for latitude and longitude -->
          <input type="hidden"
            ng-model="$ctrl.newPoint.latitude" ng-init="$ctrl.newPoint.latitude = point.getPosition().lat().toFixed(6)">

          <input type="hidden"
            ng-model="$ctrl.newPoint.longitude" ng-init="$ctrl.newPoint.longitude = point.getPosition().lng().toFixed(6)">

          <input type="text" placeholder="Location" ng-model="$ctrl.newPoint.location">
        </div>
        
        <div class="point-new-row">
          <textarea rows="3" placeholder="Description (optional)" ng-model="$ctrl.newPoint.description"></textarea>
        </div>

        <div class="point-new-options">
          <button 
            type="submit"
            class="btn btn-sm btn-primary">Save</button>
          &nbsp; 
          <button 
            type="button" 
            ng-click="$ctrl.deletePoint()"
            class="btn btn-sm btn-default">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</map-marker>