    <form method="post" novalidate name="point_form" ng-cloak>
  <div class="point-new-window">
    <h1>Point <span ng-bind="$ctrl.point.id"></span></h1>
    
    <div ng-if="$ctrl.panel == 1">
      <div class="point-new-row">
        <input type="hidden" ng-model="$ctrl.formPoint.id">

        <input type="text" placeholder="" 
          ng-model="$ctrl.formPoint.location">
      </div>

      <div class="point-new-row">
        <textarea rows="4" placeholder="" ng-model="$ctrl.formPoint.description"></textarea>
      </div>
    </div>    

    <div ng-if="$ctrl.panel == 2">
      <div class="point-info-details">
        {{ $ctrl.formPoint.location }}
        <br />
        <div class="point-info-desc">
          {{ $ctrl.formPoint.description }}
        </div>
      </div>
    </div>

    <div class="point-new-options">
      <a ng-if="$ctrl.panel == 2">
        <i class="fa fa-map-marker"></i> 
        <span class="gps">{{ $ctrl.point.latitude }}, {{ $ctrl.point.longitude }}</span>
      </a>

      <div ng-if="$ctrl.panel == 1">
        <button type="submit" class="btn btn-sm btn-primary" ng-click="$ctrl.update()">Save</button>
        &nbsp;
        <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.panel = 2">Cancel</button>
      </div>

      <a href="" class="pull-right" ng-if="$ctrl.panel == 2"  ng-click="$ctrl.panel = 1" title="Edit Point Details"><i class="fa fa-edit"></i></a>

      <a href="" ng-if="$ctrl.panel == 2" class="pull-right" ng-click="$ctrl.showDevices($ctrl.formPoint.id)" title="Device"><i class="fa fa-pencil"></i></a>
    </div>
  </div>
</form>
