<section>
  <!-- <hr class="no_margin" /> -->
  <div 
    class="point_menu"
    ng-class="$ctrl.point ? 'point_menu_active' : ''"
  >
    <md-checkbox
      ng-model="$ctrl.point" 
      aria-label="nodes" 
      ng-click="$ctrl.toggled()"
    ></md-checkbox> <h2>Map Points</h2>
    <div
      ng-show="$ctrl.points.length > 0" 
      class="point_content"
      ng-class="$ctrl.point ? 'point_content_active' : 'point_content_inactive'"
    >
      <div class="point_links">
        <i class="fa fa-chevron-down" ng-click=""></i>
        <img src="../../../img/roller.png" /> Sorted by ID ({{ $ctrl.points.length }})
      </div>
      <ul class="point_lists noselect">
        <ol
          ng-repeat="point in $ctrl.points"
          ng-click="$ctrl.selected(point)"
        >
          <i class="fa fa-map-marker"></i>
          <span>Point {{ point.id }}</span>
        </ol>
      </ul>
    </div>
  </div>
</section>
