<div class="search-map">
  <form>
    <input type="text"
      ng-model="$ctrl.search.keyword"
      ng-model-options="{debounce: 150}"
      uib-typeahead="x.message for x in $ctrl.search($viewValue)" 
      typeahead-loading="loadingLocations" 
      typeahead-no-results="noResults"
      typeahead-on-select="$ctrl.searchMap($item)"
      class="map-search-box"
      ng-keypress="$ctrl.searchGps($event)"
    ><button type="button"><i class="fa fa-search"></i></button>
    <!-- <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i> -->
    <!-- <div ng-show="noResults">
      No Results Found
    </div> -->

  </form>
</div>